/* index.css */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #00aaff;
}
main {
    border-radius: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    width: 50em;
    color: white;
    background-color: #00aaff;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

#plinkoCanvas {
    width: 400px;
    height: 600px;
    border: 1px solid #000;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}
#green,#start {
    border: none;
    border-radius: 8em;
    width: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: green;
    color: white;
    -webkit-border-radius: 8em;
    -moz-border-radius: 8em;
    -ms-border-radius: 8em;
    -o-border-radius: 8em;
}

#yellow {
    border: none;
    border-radius: 8em;
    width: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: yellow;
    color: rgb(3, 28, 77);
}

#red,#plus,#minus {
    border: none;
    border-radius: 8em;
    width: 5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: red;
    color: white;
}

#red:hover ,#green:hover,#yellow:hover {

    color: #00aaff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#earnings {
    margin-top: 20px;
    font-size: 18px;
}
